body {
	background: lightblue;
}

h1 {
	text-align: center;
}

#game {
  height: 500px;
  width: 500px;
  margin: 0 auto
}

.column {
  float: left
}

.blackball {
	content:url(images/plainblackball.png);
	width: 50px;
}

.whiteball {
	content:url(images/plainwhiteball.png);
	width: 50px;
}

.tile {
	content:url(images/plaintile.png);
	width: 50px;
}